# Example requirements.txt file
sqlalchemy
alembic
requests
black
pytest
yfinance
pandas
finnhub-python
pyyaml
python-dotenv
PyGithub
pytest-cov
dependency_injector
pytest-mock
flake8==3.9.2
importlib-metadata==4.13.0
